@model ProductModel
<h1 class="h3 mb-3">Düzenle</h1>
<div class="card form-shadow">
    <div class="card-body">
        <form asp-controller="Admin" asp-action="ProductEdit" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input type="hidden" name="ProductId" value="@Model.ProductId">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Name">İsim</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Url">Sayfa Url</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Url">
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Description">Açıklama</label>
                        <div class="col-sm-10">
                            <textarea id="editor" class="form-control" asp-for="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Price">Fiyat</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="ImageUrl">Resim</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" name="file" id="customFile" class="custom-file-input">
                                                    <label class="custom-file-label" for="customFile">Dosya Seç</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">Ürünü Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input type="hidden" asp-for="ImageUrl">
                                    <img src="~/img/@Model.ImageUrl" width="120">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @for (int i = 0; i < Model.SelectedCategories.Count(); i++)
                    {
                        <input type="hidden" name="SelectedCategories[@i].CategoryId"
                            value="@Model.SelectedCategories[@i].CategoryId">
                        <input type="hidden" name="SelectedCategories[@i].Name" value="@Model.SelectedCategories[@i].Name">
                    }

                    @foreach (var item in (List<Category>)@ViewBag.Categories)
                    {
                        <div class="custom-control custom-checkbox mt-1">
                            <input type="checkbox" class="custom-control-input" name="categoryIds" value="@item.CategoryId"
                                id="category_@(item.CategoryId)" @(Model.SelectedCategories.Any(i => i.CategoryId ==
                            item.CategoryId) ? "checked" : "")>
                            <label class="custom-control-label" for="category_@(item.CategoryId)">@item.Name</label>
                        </div>
                    }
                    <hr>
                    <div class="custom-control custom-checkbox mt-1">
                        <input asp-for="IsApproved" type="checkbox" class="custom-control-input">
                        <label asp-for="IsApproved" class="custom-control-label">Ürün Onay</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-1">
                        <input asp-for="IsHome" type="checkbox" class="custom-control-input">
                        <label asp-for="IsHome" class="custom-control-label">Anasayfada Göster</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor");
    </script>
}
<script>
// Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
